/* div {
  border: 1px solid blue;
} */

.pfpTrainer {
    border-radius: 50%;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .social-links {
      text-decoration: none;
  }
  
  .interact-buttons {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  